@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    background: #4c555e;
    /* position: relative; */
}

header>.topBar {
    background: #373c42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    /* height: 20vh; */
}

header>.topBar>.left {
    display: flex;
}

header>.topBar>.left>.img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4c555e;
    padding: 6px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

header>.topBar>.left>.img img {
    filter: invert(1);
}

header>.topBar>.left>.img:first-child:hover {
    background: #0077b5;
}

header>.topBar>.left>.img:nth-child(2):hover {
    background: #1DA1F2;
}

header>.topBar>.left>.img:nth-child(3):hover {
    background: #E60023;
}

header>.topBar>.left>.img:nth-child(4):hover {
    background: #db4a39;
}

header>.topBar>.left>.img:nth-child(5):hover {
    background: #f26522;
}

header>.topBar>.right {
    display: flex;
}

header>.topBar>.right>a {
    font-size: 17px;
    color: #999999;
    margin: 0 5px;
    position: relative;
    transition: all .5s ease-in-out;
}

header>.topBar>.right>a::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: #999999;
    margin: 0 5px;
}

header>.topBar>.right>a:hover {
    color: #db4a39;
}

main {
    width: 100%;
    height: auto;
}

main.container {
    background: #4c555e;
    width: 100%;
    height: 50vh;

}

main.container>.logo-area {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main.container>.logo-area>.search-area {}

main.container>.logo-area>.search-area>form {
    background: #65717c;
    /* padding:5px 10px; */
    border-radius: 5px;
}

main.container>.logo-area>.search-area>form input {
    font-size: 15px;
    /* background: #65717c; */
    background: none;
    border: none;
    outline: none;
    padding: 5px 10px;

}

main.container>.logo-area>.search-area>form input::placeholder {
    color: #fff;
}

main.container>.logo-area>.search-area>form>button {
    font-size: 15px;
    padding: 5px 10px;
    background: black;
    border: none;
    color: #fff;
    cursor: pointer;
}

main.container>.navbar {
    background: #31363c;
    margin: 0px 20px;

}

main.container>.navbar>.navigation>.main-menu {
    display: flex;
}

main.container>.navbar>.navigation>.main-menu>.menu-list {
    padding: 10px;
    position: relative;
}

main.container>.navbar>.navigation>.main-menu>.menu-list>.menu-item {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
    transition: all .5s ease-in-out;
}

main.container>.navbar>.navigation>.main-menu>.menu-list:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
}

main.container>.navbar>.navigation>.main-menu>.menu-list:hover>.menu-item {
    background: black;
}

main.container>.navbar>.navigation>.main-menu>.menu-list>.sub-menu {
    position: absolute;
    top: 100%;
    left: 10px;
    /* right: 0; */
    width: 155px;
    max-width: 155px;
    background: rgba(0, 139, 139, 0.7);
    border-top: 2px solid rgb(248, 205, 205);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    z-index: 2;
}

main.container>.navbar>.navigation>.main-menu>.menu-list>.sub-menu>.sub-menuList {
    padding: 10px;
}

main.container>.navbar>.navigation>.main-menu>.menu-list>.sub-menu>.sub-menuList>.sub-menu-item {
    color: #fff;
    font-size: 18px;
    transition: all .5s ease-in-out;

}

main.container>.navbar>.navigation>.main-menu>.menu-list>.sub-menu>.sub-menuList>.sub-menu-item:hover {
    color: #db4a39;
}

main.container>.banner {
    margin: 0 20px;
    background: #fff;
    padding-top: 30px;
}

/* slider section   start */
main.container>.banner>.slider {
    margin: 0px 20px;
    border: 1px solid rgb(196, 196, 196);
}

main.container>.banner>.slider>.slides {
    margin: 10px;
    height: 380px;
    position: relative;


}

main.container>.banner>.slider>.slides>.image {

    width: 100%;
    display: none;


}

main.container>.banner>.slider>.slides>.image.active {
    display: block;

}

main.container>.banner>.slider>.slides>.dot-controller {
    position: absolute;
    z-index: 888;
    bottom: 73px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 10px;
}

main.container>.banner>.slider>.slides>.dot-controller>.dot-btn {
    width: 15px;
    height: 15px;
    background: rgb(67, 139, 0);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: all .3s ease;
}

main.container>.banner>.slider>.slides>.dot-controller>.dot-btn.active {
    background: darkcyan;
}

main.container>.banner>.slider>.slides>.dot-controller>.dot-btn:not(:last-child) {
    margin-right: 10px;
}

/* main.container>.banner>.slider>.slides>.dot-controller>.dot-btn:hover{
    background: darkcyan;
} */
/* slider section   end */

main.container>.banner>.card-wrapper {
    display: flex;
    margin: 10px 20px;
    gap: 20px;
    /* border: 2px solid green; */

}

main.container>.banner>.card-wrapper>.card {
    width: 281px;
    height: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 10px;
    gap: 10px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);

}

main.container>.banner>.card-wrapper>.card>.img {
    width: 64px;
    height: 64px;
}

main.container>.banner>.card-wrapper>.card>h1 {
    font-size: 20px;
    color: #5c646c;
}

main.container>.banner>.card-wrapper>.card>p {
    font-size: 15px;
    color: #bfbebb;
}

main.container>.banner>.qautes {
    margin: 0 20px;
    border: 1px solid rgb(196, 196, 196);



}

main.container>.banner>.qautes>p {
    text-align: center;
    font-size: 25px;
    padding: 20px 100px;
    font-style: italic;
}

main.container>.banner>.project {
    display: flex;
    margin: 0 20px;
    justify-content: center;
    /* align-items:center; */
    gap: 20px;
}

main.container>.banner>.project>.card {
    width: 281px;
    height: 330px;
    padding: 40px 0;
    /* border: 2px solid yellow; */
}

main.container>.banner>.project>.card.card1 {
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* border: 1px solid green; */
}

main.container>.banner>.project>.card.card1>h3 {
    font-size: 20px;
    color: #7f7d77;

}

main.container>.banner>.project>.card.card1>p {
    font-size: 15px;
    color: #7f7d77;
}

main.container>.banner>.project>.card.card2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding-top: 20px; */
}

main.container>.banner>.project>.card.card2>.img {
    width: 100%;
    height: 140px;
    /* border: 1px solid blue; */
}

main.container>.banner>.project>.card.card2>p {
    font-size: 15px;
    color: #7f7d77;

}

main.container>.banner>.project>.card.card2>a {
    font-size: 17px;
    text-transform: capitalize;
    color: #7f7d77;
    font-weight: 700;
    transition: all .5s ease-in-out;
}

main.container>.banner>.project>.card.card2>a:hover {
    color: darkcyan;
}

main .footer {
    width: 100%;
    background: #ededed;
    color: #4c555e;
    padding: 20px 40px;
    display: flex;
    gap: 20px;
    font-size: 14px;

}

main>.footer>.about {
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main>.footer>.about>.our-school>h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

main>.footer>.about>.our-school>p {
    margin-bottom: 10px;
}

main>.footer>.about>.our-school>a {
    color: #4c555e;
    transition: all .5s ease-in-out;
}

main>.footer>.about>.our-school>a:hover {
    color: darkcyan;
}

main>.footer>.about>.blog>h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

main>.footer>.about>.blog>.blog-content>h4 {
    font-size: 16px;
}

main>.footer>.about>.blog>.blog-content>h5 {
    font-size: 12px;
    margin-bottom: 10px;
}

main>.footer>.about>.blog>.blog-content>p {
    margin-bottom: 10px;
}

main>.footer>.about>.blog>a {
    color: #4c555e;
    transition: all .5s ease-in-out;
}

main>.footer>.about>.blog>a:hover {
    color: darkcyan;
}

main>.footer>.links {
    width: 100%;
    /* border: 1px solid yellow; */

}

main>.footer>.links>ul>li {
    margin: 10px 0;
}

main>.footer>.links>ul>li>a {
    color: #4c555e;
    font-size: 15px;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
}

main>.footer>.links>ul>li>a:hover {
    color: darkcyan;

}

main>.footer>.links>h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

main>.footer>.news {
    width: 100%;
    /* border: 1px solid red; */
}

main>.footer>.news>h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

main>.footer>.news>p {
    margin-bottom: 10px;
}

main>.footer>.news>h4 {
    font-size: 14px;
    margin-bottom: 10px
}

main>.footer>.news>form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

main>.footer>.news>form>input {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}

main>.footer>.news>form>button {
    width: 100px;
    font-size: 18px;
    padding: 3px 10px;
    background: #4c555e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

main>.footer>.news>form>button:hover {
    background: darkcyan;
}